.cal-main {}
.cal-main .cal-input {border: 2px solid black; height: 100px; padding: 10px; background-color: white;}

.cal-pads {/*height: 300px;*/ border: 1px solid black;}
.cal-pads .equations-pad, .cal-pads .numbers-pad, .cal-pads .actions-pad{padding-right: 0px; padding-left: 0px;}
.cal-pads .panel {margin-bottom: 0px;}
.panel-body {padding: 0;}
.equation-btns {width: 40px; height: 40px;}
.equations-pad .equations {}
.equations-pad .equations .btn-lg, .numbers-pad .numbers .btn-lg{width: 50px; height: 50px;}
.equations .mjx-chtml {font-size: 80% !important;}